
/* small device */
@media screen and (max-width: 576px) {
    header{
        width: 100%;
        height: 100%;

    }
    .header-content{
        padding: 30px 30px 0; 
        flex-direction: column;
    }
    .header-title{
        font-size: 44px;
    }
    .header-subtitle{
        width: 450px;
    }
    .header-content img{
        width: 400px;
        height: 450px;
    }

    /* featured part */
    .featured-flower-container{
        width: 100%;
        padding: 0;
    }
    .featured-flower-cards{
        flex-direction: column;
        width: 100%;
        gap: 0;
    }
    .featured-flower-image-container{
        width: 350px;
        height: 450px;
    }
    .featured-flower-image-container img{
        width: 270px;
        height: 380px;
    }

    /* delivaery */
    .delivery-container{
        width: 100%;
        flex-direction: column;
        height: 600px;
        padding: 30px;
    }

    /* hot deal */
    .hot-deal-container{
        width: 100%;
        flex-direction: column;
        height: 100%;
        padding: 30px;
    }
    .hot-deal-container img{
        height: 500px;
    }
    .sell-off-title{
        font-size: 20px;
    }
    .sell-off-desc{
        width: 400px;
    }

    /* instragram */
    .instragram{
        width: 100%;
        padding: 0;
    }
    .instagram-image-container{
        width: 100%;
        flex-direction: column;
        padding: 0 120px;
    }
    .instragram .subtitle{
        width: 400px;
    }

    /* latest deal */
    .latest-deal-container{
        width: 100%;
        height: 350px;
        flex-direction: column;

    }
    .latest-deal-subscribe input{
        padding-left: 50px;
        width: 300px;
    }

    /* latest product */
    .blog{
        flex-direction: column;
    }

    /* footer */
    footer{
        width: 100%;
        padding: auto 0;
    }
    .footer-subtitle{
        width: 400px;
    }
}