*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.btn-primary{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
.padding{
    padding: 0 240px;
    margin: 0 auto;
}
.bg-1{
    background: rgba(167, 33, 98, 0.15);
}
.bg-2{
    background: rgba(5, 151, 160, 0.15);
}
.bg-3{
    background: rgba(71, 125, 17, 0.15);
}
.border-radious{
    border-radius: 300px 300px 0px 0px;
}



/* Header paert */
header{
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 178px;
}

.header-content{
    padding: 50px 240px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-title{
    max-width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-right: 97px;
}
.header-subtitle{
    max-width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
    margin-right: 171p;
}

/* Featured flower part */
.featured-flower-container{
    text-align: center;
}
.featured-flower-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.featured-flower-subtitle{
    max-width: 594px;;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px auto 48px;
}

/* Feature Flower carda */
.featured-flower-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.featured-flower-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured-flower-image-container img{
    width: 310px;
    height: 428px;
}

.featured-flower-image-container{
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.image-name{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding: 32px 0 128px;
}

/* Delivery part */
.delivery-container{
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.delivery-container h1{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 24px;
}