*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

/* Here some common class */
.btn-primary{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
span{
    color: #E55473;
}
.padding{
    padding: 0 240px;
    margin: 0 auto;
}
.bg-1{
    background: rgba(167, 33, 98, 0.15);
}
.bg-2{
    background: rgba(5, 151, 160, 0.15);
}
.bg-3{
    background: rgba(71, 125, 17, 0.15);
}
.border-radious{
    border-radius: 300px 300px 0px 0px;
}
.title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}
.subtitle{
    max-width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px auto 48px;
    text-align: center;
}


/* Header paert */
header{
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 178px;
    margin: 0 auto;
}

.header-content{
    padding: 50px 240px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-title{
    max-width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-right: 97px;
}
.header-subtitle{
    max-width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
    margin-right: 171p;
}

/* Featured flower part */
/* Feature Flower cards */
.featured-flower-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.featured-flower-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured-flower-image-container img{
    width: 310px;
    height: 428px;
}

.featured-flower-image-container{
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.image-name{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding: 32px 0 128px;
}

/* Delivery part */
.delivery-container{
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.delivery-container h1{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 24px;
}

/* .hot-deal-container */
.hot-deal-container{
    width: 1920px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 429px 0 395px;
    gap: 186px;
}
.hot-deal-sell-off{
    text-align: center;
}
.sell-off-title{
    max-width: 537px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin: 0 auto;
}
.sell-off-desc{
    max-width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0 32px;
}

/* Instagram image container */
.instragram{
    margin-bottom: 128px;
    width: 1920px;
}
.instagram-image-container{
    display: flex;
    gap: 24px;
}
.instagram-image-container img{
    width: 342px;
    height: 396px;
}

/* Latest Deal */
/* .latest-deal-container{
    height: 449px;
} */
.latest-deal-container{
    height: 449px;
    width: 1440px;
    background-image: url("../Asset/Rectangle\ 9.png");
    margin: 0 auto;
    margin-bottom: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.latest-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.latest-deal-subtitle{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 16px 0 48px;
}
.latest-deal-subscribe input{
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 22px 23px;
    margin-right: 16px;
    border: none;
    outline: none;
}

/* Blog Section */
.blog-container h1{
    text-align: center;
    margin: 50px;
    font-size: 42px;
}
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
    gap: 52px;
}
.blog-card{
    height: 450px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 4px 6px 8px whitesmoke;
}
.blog-card img{
    width: 100%;
    height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.blog-title{
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}
.blog-desc{
    font-size: 17px;
    padding: 10px 5px;
    color: rgba(17, 15, 15, 0.4);
}


/* footer part */
footer{
    height: 450px;
    background: #111010;
    padding: 128px 0;
    text-align: center;
}
.footer-title{
    color: #ffffff;
    font-size: 48px;
    font-weight: 800;
}
.footer-subtitle{
    max-width: 625px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px auto 32px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}